
    .navBar{
        width: 100vw;
        background-color: #ffffff;
        height: 7vh;
        padding-bottom: 100px;
        border-bottom: solid 2px #e7e9ed;
    }


.navBar a{
     display: inline-block;
     width: fit-content;
  font-family: 'Segoe UI', 'Helvetica Neue', Arial, sans-serif;
  font-size: 14px;
  font-weight: normal;
  color: #000;
  text-decoration: none;
  padding: 10px;

}
.navBar a:hover{
    background-color: #e7e9ed;
    border-radius: 5px;

}
    .navBar .right{
        display: flex;
        justify-content: center;

    }
        .navBar .left{
            display: flex;
            justify-content: center;

    }

    .navBarMobile{
        border: #e7e9ed solid 3px;
        width: 65vw;
        height: 95vh;
        background-color: #ffffff;
        position: absolute;
        top: 29px;
        display: none;



    }
     .navBarMobile a{
        text-decoration: none;
        display: inline-block;
        padding: 12px;
            width: 100%;
     color: black;
    }
    .navBarMobile a:hover{
    background-color: #e7e9ed;
    border-radius: 5px;

}
.button{

    display: none;
}
.button button{
    background-color: #714b67;
    border: solid #714b67;
    color: white;
 }

.collapsed{
    display: block !important;
}
  table {
      width: 100%;
      border-collapse: collapse;
      margin: 0;
    }

    td {
      padding: 7px;
      border-bottom: 1px solid #ddd;
      text-align: left;
       font-family: 'Segoe UI', 'Helvetica Neue', Arial, sans-serif;
  font-size: 14.5px;
  font-weight: 400;
    }
     th {
      padding: 10px;
      border: 1px solid #ddd;
      background-color: #f9fafb;
      text-align: left;
      height: 5vh;
        font-family: 'Segoe UI', 'Helvetica Neue', Arial, sans-serif;
  font-size: 16px;
  font-weight: 600;}

.status-nouveau {
  color: #6c757d;
 background-color:#6c757d ;
  border: #6c757d solid ;
  display: inline-block;
  border-radius:50px 50px 50px 50px;
  width: 12px;
  height: 12px; /* Vert => Résolu avec succès */
  font-weight: 600;}

.status-encours {
  color: #007bff; /* Bleu vif */
 background-color:#007bff ;
  border: #007bff solid ;
  display: inline-block;
  border-radius:50px 50px 50px 50px;
  width: 12px;
  height: 12px; /* Vert => Résolu avec succès */
  font-weight: 600;}

.status-traites {
  color: #fd7e14; /* Orange */
  background-color:#fd7e14 ;
  border: #fd7e14 solid ;
  display: inline-block;
  border-radius:50px 50px 50px 50px;
  width: 12px;
  height: 12px; /* Vert => Résolu avec succès */
  font-weight: 600;
}

.status-ferme {

  color: #28a745;
  background-color:#28a745 ;
  border: #28a745 solid ;
  display: inline-block;
  border-radius:50px 50px 50px 50px;
  width: 12px;
  height: 12px; /* Vert => Résolu avec succès */
  font-weight: 600;
}

tr:hover{
    background-color: #e7e9ed;
}



.form-control{
    width: 40vw;
}

.table {
    overflow-x: auto;
    overflow-y: auto;
    white-space: nowrap;
    scroll-snap-type: x mandatory;
    max-height: 70vh;
}
@media (max-width:  914px) {




}


@media (max-width: 645px) {
    .navBar{
        display: none !important;
    }
    .button{
    display: block;
}





}


@media (max-width: 562px) {




}
@media (max-width: 460px) {




}
