
    .navBar{
        width: 99vw;
        background-color: #ffffff;
        height: 7vh;
        padding-bottom: 100px;
        border-bottom: solid 2px #e7e9ed;
    }


.navBar a{
     display: inline-block;
     width: fit-content;
  font-family: 'Segoe UI', 'Helvetica Neue', Arial, sans-serif;
  font-size: 14px;
  font-weight: normal;
  color: #000;
  text-decoration: none;
  padding: 10px;

}
.navBar a:hover{
    background-color: #e7e9ed;
    border-radius: 5px;

}
    .navBar .right{
        display: flex;
        justify-content: center;

    }
        .navBar .left{
            display: flex;
            justify-content: center;

    }

    .navBarMobile{
        border: #e7e9ed solid 3px;
        width: 65vw;
        height: 95vh;
        background-color: #ffffff;
        position: absolute;
        top: 29px;
        display: none;



    }
     .navBarMobile a{
        text-decoration: none;
        display: inline-block;
        padding: 12px;
            width: 100%;
     color: black;
    }
    .navBarMobile a:hover{
    background-color: #e7e9ed;
    border-radius: 5px;

}
.button{

    display: none;
}
.button button{
    background-color: #714b67;
    border: solid #714b67;
    color: white;
 }

.collapsed{
    display: block !important;
}








 .btnAdd {
    display: inline-block;
    text-decoration: none;
    color: white;
    border: solid #714b67 ;
    background-color: #714b67;
            padding: 5px 8px 5px 8px ;
            border-radius: 4px;

}

.btnAdd:hover{

    color: #714b67;
    border: solid #714b67 ;
    background-color: white;

}


.form-control:focus {
  border-color: #714b67 !important;
  box-shadow: 0 0 0 0.25rem rgba(113, 75, 103, 0.25) !important;
}
  select.form-control {
    border-color: #714b67 !important;
    box-shadow: 0 0 0 0.25rem rgba(113, 75, 103, 0.25) !important;
  }

  select.form-control option {
    background-color: #f5eaf3;
    color: #2b2b2b;
  }

@media (max-width:  993px) {





}


@media (max-width: 790px) {




}

@media (max-width: 645px) {
    .navBar{
        display: none !important;
    }
    .button{
    display: block;
}




}



@media (max-width: 460px) {




}







/* body {
      margin: 0;
      padding: 0;
      display: flex;
        background-color: #dce3e7;

    }
    .layout {
  height: 100%;
 width: 100vw;
 }
.sidebare{
       background-color: #10323a;
      color: white;
      height: 100vh;

}
.sidebare div {
    width: 100%;
    height: 50px;

}
.sidebare div form {
    width: 100%;
    height: 50px;

}
.sidebare .logo {
    margin-left: 30%;

}
.sidebare div a{
             display: inline-block;
             color: white;
             width: 100%;
            height: 100%;
            display: flex;
            align-items: center;
             padding-left: 25px;
            text-decoration: none;
            font-weight: 500;
 }

 .sidebare div a:hover {
background-color: #5fa8bb;
 }
 .content{
     background-color: #dce3e7;


  }

input{
    display: block;
    width: 10vw;
}




.toggle-btn{
    display: none;

}
.content{
    display: flex;
    justify-content: center;

}
.form-control,.form-select{
    margin-bottom: 10px;
    border: #10323a solid;

}

.form-label{
    margin-bottom: 5px;
}



.btnAdd{
    color: whitesmoke;
    background-color: #10323a;
    border: #10323a solid ;
    height: 40px;
    border-radius: 20px;

}

@media (max-width: 1246px) {
            .collapsed {
            width: 100vw !important;
            height: 48vh !important;
            }


             .sidebare .logo {

                position: absolute;
                top: 2px;
                right:-10px;



                }

            .collapsed  .hide{
                display: block !important;
            }
            .sidebare{

                width: 100vw;
                height: 10vh;

            }
            .sidebare .hide{
                   display: none;

            }
            .content{
                height: 90vh;
            }
           .toggle-btn {
                display: block;
                position: absolute;
                top: 10px;
                right: 10px;
                background-color: #5fa8bb;
                color: white;
                border: none;
                padding: 8px 14px;
                font-size: 18px;
                border-radius: 8px;
                cursor: pointer;
                z-index: 9999;
                }

    .toggle-btn:hover {
        background-color: #3c7c91;
    }





    }
    @media (max-width: 1037px) {




    }
     @media (max-width: 511px) {
     }
     @media (max-width: 410px) {




     }



*/
