 body {
      margin: 0;
      padding: 0;
      display: flex;
    }
    .layout {
  height: 100%;
 width: 100vw;
 }
.sidebare{
       background-color: #10323a;
      color: white;
      height: 100vh;

}
.sidebare div {
    width: 100%;
    height: 50px;

}
.sidebare div form {
    width: 100%;
    height: 50px;

}
.sidebare .logo {
    margin-left: 30%;

}
.sidebare div a{
             display: inline-block;
             color: white;
             width: 100%;
            height: 100%;
            display: flex;
            align-items: center;
             padding-left: 25px;
            text-decoration: none;
            font-weight: 500;
 }

 .sidebare div a:hover {
background-color: #5fa8bb;
 }
 .content{
     background-color: #dce3e7;


  }



.stat-box {
  border: 1.5px solid #000000;
  border-radius: 12px;
  height: 100px;
  background-color: #e9eef1;
  padding: 10px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.stat-number {
  font-size: 22px;
  font-weight: 600;
  color: #333;
}

.stat-label {
  font-size: 14px;
  color: #555;
  margin-top: 5px;
}

.thead{

    background-color: #c9c9ca;
    color: black;
    height: 40px;
    border-radius: 15px;
     padding: 10px;
  box-shadow: 5px 10px 18px #888888;
}
.thead div{
    height: 100%;

 }
.ticket{

    background-color: white;
    color: black;
    height: 60px;
    border-radius: 15px;
   max-height: 400px;
 }



.ticket div p {
    background-color: green;
    border: solid green;
    border-radius: 20px;
    width: 80px;
    text-align: center;
}
.ticket div a {
    display: inline-block;
    width: 60px;
     text-decoration: none;
    text-align: center  ;
    border: solid #2a7ffd 2px;
}
.ticket div a:hover {
    background-color: #2a7ffd;
    color: white;
}
.tickets-scroll {
  max-height: 400px;
  overflow-y: auto;
  overflow-x: hidden;
  scroll-behavior: smooth;

   border-radius: 8px;
  padding: 10px;


   scrollbar-width: thin;
  scrollbar-color: #888 #f0f0f0;
}

 .input-group .form-control,
.input-group .btn {
  height: 40px;
}
.input-group .form-control{
    width: 250px;
}


#ticketStatus {
    max-width: 130px;
}


.toggle-btn{
    display: none;

}
 .ticket .description,.ticket .assistant,.ticket .date{
            display: none;
        }
        .carte{
            display: none;
        }

@media (max-width: 1246px) {
            .collapsed {
            width: 100vw !important;
            height: 48vh !important;
            }


             .sidebare .logo {

                position: absolute;
                top: 2px;
                right:-10px;



                }

            .collapsed  .hide{
                display: block !important;
            }
            .sidebare{

                width: 100vw;
                height: 10vh;

            }
            .sidebare .hide{
                   display: none;

            }
            .content{
                height: 90vh;
            }
           .toggle-btn {
                display: block;
                position: absolute;
                top: 10px;
                right: 10px;
                background-color: #5fa8bb;
                color: white;
                border: none;
                padding: 8px 14px;
                font-size: 18px;
                border-radius: 8px;
                cursor: pointer;
                z-index: 9999;
                }

    .toggle-btn:hover {
        background-color: #3c7c91;
    }





    }
    @media (max-width: 1037px) {

        .thead .description,.thead .assistant,.thead .date{
            display: none;
        }
          .ticket .description,.ticket .assistant,.ticket .date{
            display: none !important;
            justify-content: space-evenly !important;
         }
         .ticket {
            justify-content: start;
         }



    }
     @media (max-width: 511px) {
                .input-group .form-control{
            width: 100px !important;
        }


     }
     @media (max-width: 410px) {
        .carte{
            display: block !important;
        }
        .ticket , .thead{
            display: none !important;
        }
        .carte{
                        border: 1.5px solid #000000;
            border-radius: 12px;
            height: 100px;
            background-color: #ffffff;
            padding: 10px 0;
            display: flex;
            flex-direction: column;
            justify-content: center;
            margin-top: 5px;
        }

        .statistic{
            flex-direction: column;
            align-items: center !important;

        }
        .statistic .stat-box{
            width: 190px;
            margin-top: 5px;
        }
        .carte div {
            word-spacing :5px !important;
        }
        .carte div a {
            display: inline-block;
            width: 45px;
            text-decoration: none;
            text-align: center  ;
            border: solid #2a7ffd 2px;
        }
        .carte div a:hover {
            background-color: #2a7ffd;
            color: white;
        }

     }



