
    .navBar{
        width: 100vw;
        background-color: #ffffff;
        height: 7vh;
        padding-bottom: 100px;
        border-bottom: solid 2px #e7e9ed;
    }


.navBar a{
     display: inline-block;
     width: fit-content;
  font-family: 'Segoe UI', 'Helvetica Neue', Arial, sans-serif;
  font-size: 14px;
  font-weight: normal;
  color: #000;
  text-decoration: none;
  padding: 10px;

}
.navBar a:hover{
    background-color: #e7e9ed;
    border-radius: 5px;

}
    .navBar .right{
        display: flex;
        justify-content: center;

    }
        .navBar .left{
            display: flex;
            justify-content: center;

    }

    .navBarMobile{
        border: #e7e9ed solid 3px;
        width: 65vw;
        height: 95vh;
        background-color: #ffffff;
        position: absolute;
        top: 29px;
        display: none;



    }
     .navBarMobile a{
        text-decoration: none;
        display: inline-block;
        padding: 12px;
            width: 100%;
     color: black;
    }
    .navBarMobile a:hover{
    background-color: #e7e9ed;
    border-radius: 5px;

}
.button{

    display: none;
}
.button button{
    background-color: #714b67;
    border: solid #714b67;
    color: white;
 }

.collapsed{
    display: block !important;
}
  table {
      width: 100%;
      border-collapse: collapse;
      margin: 0;
    }
    td {
      padding: 7px;
      border-bottom: 1px solid #ddd;
      text-align: left;
       font-family: 'Segoe UI', 'Helvetica Neue', Arial, sans-serif;
  font-size: 14.5px;
  font-weight: 400;
    }
     th {
      padding: 10px;
      border: 1px solid #ddd;
      background-color: #f9fafb;
      text-align: left;
      height: 5vh;
        font-family: 'Segoe UI', 'Helvetica Neue', Arial, sans-serif;
  font-size: 16px;
  font-weight: 600;}

.status-nouveau {
  color: #6c757d;
 background-color:#6c757d ;
  border: #6c757d solid ;
  display: inline-block;
  border-radius:50px 50px 50px 50px;
  width: 12px;
  height: 12px; /* Vert => Résolu avec succès */
  font-weight: 600;}

.status-encours {
  color: #007bff; /* Bleu vif */
 background-color:#007bff ;
  border: #007bff solid ;
  display: inline-block;
  border-radius:50px 50px 50px 50px;
  width: 12px;
  height: 12px; /* Vert => Résolu avec succès */
  font-weight: 600;}

.status-traites {
  color: #fd7e14; /* Orange */
  background-color:#fd7e14 ;
  border: #fd7e14 solid ;
  display: inline-block;
  border-radius:50px 50px 50px 50px;
  width: 12px;
  height: 12px; /* Vert => Résolu avec succès */
  font-weight: 600;
}

.status-ferme {

  color: #28a745;
  background-color:#28a745 ;
  border: #28a745 solid ;
  display: inline-block;
  border-radius:50px 50px 50px 50px;
  width: 12px;
  height: 12px; /* Vert => Résolu avec succès */
  font-weight: 600;
}

tr:hover{
    background-color: #e7e9ed;
}

.statistic div{
    border: solid #714b67 ;
    background-color:#714b67 ;
    color: white;
    width: 15vw;
    height: 14vh;
    border-radius: 5px;
     align-items: center;
     align-content: center;
     text-align: center;
      padding: 10px;
}

.statistic div:hover{
    border: solid #52374b ;
    background-color:#52374b ;
}

.form-control{
    width: 40vw;
}
.searchBtn{
        width: 7vw;
        height: 2vh;
         border: solid #52374b ;
    background-color:#52374b ;
    border-radius: 3px;
    color: white;

}
.searchInput{
    width: 45vw;
    height: 4.5vh;
    border: #969696 solid 1.5px;
    padding: 10px;
    font-size: 14px;
    border-radius: 5px;
}
.searchInput:focus:not(:placeholder-shown){

    border-color: #017e84 ;

}
.dropDown {
        border: #969696 solid 0.1px;
  box-shadow: 1px 1px 1px #969696;

   margin-top: 5vh;
    width: 45vw;
   position: absolute;
   background-color: #ffffff;
   border-radius: 5px;
}
.dropDown a {
    color: black;
    text-decoration: none;
    padding-left: 20px;
    padding-top: 3px;
    padding-bottom: 3px;
    display: inline-block;
    width: 100%;
}
.dropDown a:hover {
    background-color: #ebebeb;

}
.dropDown a span {
    color: #714b67;
  font-style: italic;
  font-weight: bold;
}
.table {
    overflow-x: auto;
    overflow-y: auto;
    white-space: nowrap;
    scroll-snap-type: x mandatory;
    max-height: 500px;
}

   #dropdownMenu {
      display: none;
      position: absolute;
      top: 100%;
      left: 0;
      width: 100%;
      z-index: 1000;
    }

    /* Show dropdown when parent (wrapper) is focused */
    .search-wrapper:focus-within #dropdownMenu {
      display: block;
    }
@media (max-width:  914px) {
.searchBtn{
        width: 20vw;


}
.statistic div{

    width: 20vw;

}
.searchInput{
    width: 60vw;

}
.dropDown {

    width: 60vw;

}



}


@media (max-width: 645px) {
    .navBar{
        display: none !important;
    }
    .button{
    display: block;
}


.statistic div{

    width: 30vw;

}
.searchInput{
    width: 80vw;

}
.dropDown {

    width: 80vw;

}



}


@media (max-width: 562px) {

.statistic div{


}


.searchInput{
    width: 90vw;

}
.dropDown {

    width: 90vw;

}


}
@media (max-width: 460px) {

.statistic div{

    width: 32vw;

}

.searchBtn{
        width: 18vw;


}


}



/* body {
      margin: 0;
      padding: 0;
      display: flex;
    }
    .layout {
  height: 100%;
 width: 100vw;
 }
.sidebare{
       background-color: #10323a;
      color: white;
      height: 100vh;

}
.sidebare div {
    width: 100%;
    height: 50px;

}
.sidebare div form {
    width: 100%;
    height: 50px;

}
.sidebare .logo {
    margin-left: 30%;

}
.sidebare div a{
             display: inline-block;
             color: white;
             width: 100%;
            height: 100%;
            display: flex;
            align-items: center;
             padding-left: 25px;
            text-decoration: none;
            font-weight: 500;
 }

 .sidebare div a:hover {
background-color: #5fa8bb;
 }
 .content{
     background-color: #dce3e7;


  }



.stat-box {
  border: 1.5px solid #000000;
  border-radius: 12px;
  height: 100px;
  background-color: #e9eef1;
  padding: 10px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.stat-number {
  font-size: 22px;
  font-weight: 600;
  color: #333;
}

.stat-label {
  font-size: 14px;
  color: #555;
  margin-top: 5px;
}

.thead{

    background-color: #c9c9ca;
    color: black;
    height: 40px;
    border-radius: 15px;
     padding: 10px;
  box-shadow: 5px 10px 18px #888888;
}
.thead div{
    height: 100%;

 }
.ticket{

    background-color: white;
    color: black;
    height: 60px;
    border-radius: 15px;
   max-height: 400px;
 }

.ticket div p  {
     background-color: green;
    border: solid green;
     border-radius: 20px;
    width: 80px;
    text-align: center;
}

 .nv {
    background-color: green !important;
    border: solid green !important;

}
 .ec{
    background-color: rgb(0, 98, 255) !important;
    border: solid rgb(0, 98, 255) !important;

}
 .tr{
    background-color: yellow !important;
    border: solid yellow !important;

}
.fr{
    background-color: red !important;
    border: solid red !important;

}
.ticket div a {
    display: inline-block;
    width: 60px;
     text-decoration: none;
    text-align: center  ;
    border: solid #2a7ffd 2px;
}
.ticket div a:hover {
    background-color: #2a7ffd;
    color: white;
}
.tickets-scroll {
  max-height: 400px;
  overflow-y: auto;
  overflow-x: hidden;
  scroll-behavior: smooth;

   border-radius: 8px;
  padding: 10px;


   scrollbar-width: thin;
  scrollbar-color: #888 #f0f0f0;
}

 .input-group .form-control,
.input-group .btn {
  height: 40px;
}
.input-group .form-control{
    width: 250px;
}


#ticketStatus {
    max-width: 130px;
}


.toggle-btn{
    display: none;

}
 .ticket .description,.ticket .assistant,.ticket .date{
            display: none;
        }
        .carte{
            display: none;
        }

@media (max-width: 1246px) {
            .collapsed {
            width: 100vw !important;
            height: 48vh !important;
            }


             .sidebare .logo {

                position: absolute;
                top: 2px;
                right:-10px;



                }

            .collapsed  .hide{
                display: block !important;
            }
            .sidebare{

                width: 100vw;
                height: 10vh;

            }
            .sidebare .hide{
                   display: none;

            }
            .content{
                height: 90vh;
            }
           .toggle-btn {
                display: block;
                position: absolute;
                top: 10px;
                right: 10px;
                background-color: #5fa8bb;
                color: white;
                border: none;
                padding: 8px 14px;
                font-size: 18px;
                border-radius: 8px;
                cursor: pointer;
                z-index: 9999;
                }

    .toggle-btn:hover {
        background-color: #3c7c91;
    }





    }
    @media (max-width: 1037px) {

        .thead .description,.thead .assistant,.thead .date{
            display: none;
        }
          .ticket .description,.ticket .assistant,.ticket .date{
            display: none !important;
            justify-content: space-evenly !important;
         }
         .ticket {
            justify-content: start;
         }



    }
     @media (max-width: 511px) {
                .input-group .form-control{
            width: 100px !important;
        }


     }
     @media (max-width: 410px) {
        .carte{
            display: block !important;
        }
        .ticket , .thead{
            display: none !important;
        }
        .carte{
                        border: 1.5px solid #000000;
            border-radius: 12px;
            height: 100px;
            background-color: #ffffff;
            padding: 10px 0;
            display: flex;
            flex-direction: column;
            justify-content: center;
            margin-top: 5px;
        }

        .statistic{
            flex-direction: column;
            align-items: center !important;

        }
        .statistic .stat-box{
            width: 190px;
            margin-top: 5px;
        }
        .carte div {
            word-spacing :5px !important;
        }
        .carte div a {
            display: inline-block;
            width: 45px;
            text-decoration: none;
            text-align: center  ;
            border: solid #2a7ffd 2px;
        }
        .carte div a:hover {
            background-color: #2a7ffd;
            color: white;
        }

     }



*/
