 body {
      margin: 0;
      padding: 0;
      display: flex;
    }
    .layout {
  height: 100%;
 width: 100vw;
 }
.sidebare{
       background-color: #10323a;
      color: white;
      height: 100vh;

}
.sidebare div {
    width: 100%;
    height: 50px;

}
.sidebare div form {
    width: 100%;
    height: 50px;

}
.sidebare .logo {
    margin-left: 30%;

}
.sidebare div a{
             display: inline-block;
             color: white;
             width: 100%;
            height: 100%;
            display: flex;
            align-items: center;
             padding-left: 25px;
            text-decoration: none;
            font-weight: 500;
 }

 .sidebare div a:hover {
background-color: #5fa8bb;
 }
 .content{
     background-color: #dce3e7;


  }

input{
    display: block;
    width: 10vw;
}




.toggle-btn{
    display: none;

}
.content{
    display: flex;
    justify-content: center;

}
.form-group{
    margin-bottom: 15px;

}

label{
    margin-bottom: 7px;
}
.btnModifier{
    color: whitesmoke;
    background-color: #10323a;
    border: #10323a solid ;
    height: 40px;
    border-radius: 20px;

}

@media (max-width: 1246px) {
            .collapsed {
            width: 100vw !important;
            height: 48vh !important;
            }


             .sidebare .logo {

                position: absolute;
                top: 2px;
                right:-10px;



                }

            .collapsed  .hide{
                display: block !important;
            }
            .sidebare{

                width: 100vw;
                height: 10vh;

            }
            .sidebare .hide{
                   display: none;

            }
            .content{
                height: 90vh;
            }
           .toggle-btn {
                display: block;
                position: absolute;
                top: 10px;
                right: 10px;
                background-color: #5fa8bb;
                color: white;
                border: none;
                padding: 8px 14px;
                font-size: 18px;
                border-radius: 8px;
                cursor: pointer;
                z-index: 9999;
                }

    .toggle-btn:hover {
        background-color: #3c7c91;
    }





    }
    @media (max-width: 1037px) {




    }
     @media (max-width: 511px) {
     }
     @media (max-width: 410px) {




     }



