 body {
      margin: 0;
      padding: 0;
      display: flex;
           background-color: #dce3e7;

    }
    .layout {
  height: 100%;
 width: 100vw;
 }
.sidebare{
       background-color: #10323a;
      color: white;
      height: 100vh;

}
.sidebare div {
    width: 100%;
    height: 50px;

}
.sidebare div form {
    width: 100%;
    height: 50px;

}
.sidebare .logo {
    margin-left: 30%;

}
.sidebare div a{
             display: inline-block;
             color: white;
             width: 100%;
            height: 100%;
            display: flex;
            align-items: center;
             padding-left: 25px;
            text-decoration: none;
            font-weight: 500;
 }

 .sidebare div a:hover {
background-color: #5fa8bb;
 }
 .content{
     background-color: #dce3e7;


  }



.toggle-btn{
    display: none;

}

.users-scroll {
  max-height: 400px;
  overflow-y: auto;
  overflow-x: hidden;
  scroll-behavior: smooth;

   border-radius: 8px;
  padding: 10px;


   scrollbar-width: thin;
  scrollbar-color: #888 #f0f0f0;
}
table{
    background-color: #10323a;
    color: whitesmoke;
    border: #10323a solid;
    border-radius: 10px 10px 10px 10px;
}

@media (max-width: 1246px) {
            .collapsed {
            width: 100vw !important;
            height: 48vh !important;
            }


             .sidebare .logo {

                position: absolute;
                top: 2px;
                right:-10px;



                }

            .collapsed  .hide{
                display: block !important;
            }
            .sidebare{

                width: 100vw;
                height: 10vh;

            }
            .sidebare .hide{
                   display: none;

            }
            .content{
                height: 90vh;
            }
           .toggle-btn {
                display: block;
                position: absolute;
                top: 10px;
                right: 10px;
                background-color: #5fa8bb;
                color: white;
                border: none;
                padding: 8px 14px;
                font-size: 18px;
                border-radius: 8px;
                cursor: pointer;
                z-index: 9999;
                }

    .toggle-btn:hover {
        background-color: #3c7c91;
    }





    }
    @media (max-width: 1059px) {





    }
     @media (max-width: 511px) {



     }
     @media (max-width: 480px) {


     }



