
    .navBar{
        width: 100vw;
        background-color: #ffffff;
        height: 7vh;
        padding-bottom: 100px;
        border-bottom: solid 2px #e7e9ed;
    }


.navBar a{
     display: inline-block;
     width: fit-content;
  font-family: 'Segoe UI', 'Helvetica Neue', Arial, sans-serif;
  font-size: 14px;
  font-weight: normal;
  color: #000;
  text-decoration: none;
  padding: 10px;

}
.navBar a:hover{
    background-color: #e7e9ed;
    border-radius: 5px;

}
    .navBar .right{
        display: flex;
        justify-content: center;

    }
        .navBar .left{
            display: flex;
            justify-content: center;

    }

    .navBarMobile{
        border: #e7e9ed solid 3px;
        width: 65vw;
        height: 95vh;
        background-color: #ffffff;
        position: absolute;
        top: 29px;
        display: none;



    }
     .navBarMobile a{
        text-decoration: none;
        display: inline-block;
        padding: 12px;
            width: 100%;
     color: black;
    }
    .navBarMobile a:hover{
    background-color: #e7e9ed;
    border-radius: 5px;

}
.button{

    display: none;
}
.button button{
    background-color: #714b67;
    border: solid #714b67;
    color: white;
 }

.collapsed{
    display: block !important;
}

.gragh {

    width: 100vw;
    height: 80vh; /* Corrigé : il y avait un espace entre 80 et vh */
    overflow-x: auto; /* scroll horizontal */
    overflow-y: auto; /* scroll vertical */
    background-color: #fdfdfd;
    padding: 1rem;
     box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}


        canvas {
            min-width: 1200px; /* permet scroll horizontal si beaucoup d'assistants */
            min-height: 200px; /* permet scroll vertical si nécessaire */
        }

@media (max-width:  993px) {





}


@media (max-width: 790px) {




}

@media (max-width: 645px) {
    .navBar{
        display: none !important;
    }
    .button{
    display: block;
}




}



@media (max-width: 460px) {




}




